@import "tailwindcss";


@theme {
  --font-sans: "Open Sans", "sans-serif";
  --color-blue-base: #2C46B1;
  --color-blue-dark: #2C4091;
  --color-danger: #B12C4D;
  --color-gray-100: #F9F9FB;
  --color-gray-200: #E4E6EC;
  --color-gray-300: #CDCFD5;
  --color-gray-400: #74798B;
  --color-gray-500: #4D505C;
  --color-gray-600: #1F2025;
  --text-xl: 24px;
  --text-lg: 18px;
  --text-md: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
  --leading-xl: 32px;
  --leading-lg: 24px;
  --leading-md: 18px;
  --leading-sm: 16px;
  --leading-xs: 14px;
  --animate-slide: slide 1s ease-in-out infinite;
  @keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}